@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.container{
	width: 85%;
	margin: auto;
}
.intro{
	display: flex;
	align-items: center;
}
.intro-text{
	width: auto;
}
.intro-text h1{
	font-size: 5rem;
	color: grey;
}
.intro-text h2{
	font-size: 2rem;
	margin-bottom: 35px;
}
.intro-text ul{
	margin-left: 40px;
}
.intro-text ul li{
	color: grey;
}
.intro-img{
	width: 42%;
	height: 530px;
	margin-top: 6rem;
}
.intro-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about{
	margin-top: 15px;
	display: flex;
	align-items: center;
}
.about-text{
	width: 60%;
}
.about-img{
	width: 45%;
	height: 530px;
	margin-right: 110px;
}
.about-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about-text h3{
	font-size: 2rem;
	margin-bottom: 20px;
}
.about-text p{
	color: #666464;
	font-size: 14px;
}
.portfolio{
	margin-top: 50px;
}
.portfolio h1{
	font-size: 2rem;
	margin-bottom: 20px;
}
.portfolio-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.portfolio-box .box-item{
	width: 30%;
	border: 1px solid #cbcbcb;
	padding: 20px;
}
.portfolio-box .box-item img{
	width: 45px;
	height: 45px;
}
.portfolio-box .box-item h2{
	margin: 20px 0px;
}
.portfolio-box .box-item p{
	font-size: 13px;
	color: #666464;
}
.footer{
	font-size: 14px;
	color: grey;
	margin: 100px 0px;
}